<!DOCTYPE html>
<html>
<head>
  <title>Account Created</title>
</head>
<body>
  <h1>Account Successfully Created</h1>
  <h2>Welcome: {{firstName}}</h2>
  <p>The account {{username}} has been successfully created!</p>
</body>

</html>
