<!DOCTYPE html>
<html>
<head>
  <title>Account Updated</title>
</head>
<body>
  <h1>Account Successfully Updated</h1>
  <p>The account {{username}} has been successfully updated!</p>
</body>
<a href="/{{id}}">Homepage</a>
</html>
