<head>
  <title>Account Updated</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/css/main-styles.css">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <h1>Account Successfully Updated</h1>
  <p>The account {{username}} has been successfully updated!</p>
  <a href="/{{id}}">Homepage</a>
</body>
