<!DOCTYPE html>
<html>
  <head>
    <title>Events List</title>
  </head>
  <body>
    <h1>All Events:</h1>
    <ul>
      {{#each events}}
      <li>{{this.name}}</li>
      {{/each}}
    </ul>
  </body>
</html>