<!DOCTYPE html>
<html>
    <head>
        <title>Event Comments</title>
        {{!-- <link rel="stylesheet" href="/public/css/main-styles.css"> --}}
        <link rel="stylesheet" href="/public/css/eventInfo.css">
    </head>
    <body>
        <h1>{{event.name}}</h1>
        {{!-- <div class="event-comments">
            <div class="commentss-container">
                
            </div>
            <div class="button-container">
                
            </div>
        </div> --}}
    </body>
</html>