<!DOCTYPE html>
<html>
  <head>
    <title>Favorited Events List</title>
    <link rel="stylesheet" href="/public/css/eventsListing.css">
  </head>
  <body>
    <h1>Favorited Events:</h1>
    <a href="/" id="home-link">Go Back to Home</a>
    <ul>
        {{#each events}}
        <li>
            🎉 <a href="/events/{{this._id}}/info">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
    <script src="../public/js/buttonFavorite.js"></script>
  </body>
</html>