<head>
    <title>Homepage</title>
	<meta name="viewport" content="width=device-width">
	<meta charset="utf-8">
  	<link rel="stylesheet" href="/public/css/main-styles.css">
	<!-- https://developers.google.com/maps/documentation/javascript/place-autocomplete -->
  	<script async
    	src={{apiRoute}}>
	</script>
	<script>
    function initAutocomplete() {
      let input = document.getElementById('location');
      let autocomplete = new google.maps.places.Autocomplete(input);
    }
  	</script>
</head>
<body class="bg" onload="initAutocomplete()">
    <div>
        <div class="logoHeader">
        	<img src="../public/images/logoCropped.jpg" alt="Function Finder Logo">
        </div>
        <div class="header">PARTY WITHOUT LIMITATION</div>

        <div class="sideNav">
        	<p id="currentPage">Home</p>
            <a class="navLink" href="/favorited-events">Favorites</a>
            <a class="navLink" href="/postaparty">Post a Party</a>
            <a class="navLink" href="/cancelanevent">Cancel an Event</a>
            <a class="navLink" href="/registered-events">Registered Events</a>
            {{!-- <a href="http://localhost:3000/users/{{user._id}}">Account</a> --}}
			<a class="navLink" href="/account/settings/">Update User Settings</a>
			{{!-- <a class="navLink" href="/account/parties">My Parties</a> --}}
			{{#if hasUser}}
				<a href="/signout" class="signOut" id="signOut" onclick="return confirm('Are you sure?')">Sign Out</a>	
			{{else}}
				<a href="/account/login" class="login">Log In</a>
			{{/if}}
        </div>

		
        <form class="searchForm" id="searchForm" method="POST" action="/searchresults">
        	<div class="searchElement">
           		<label for="location">City or Zip Code</label>
          		<input type="text" id="location" name="location">
        	</div>
        	<div class="searchElement">
          		<label for="distance">Distance</label>
          		<select id="distance" name="distance">
           			<option value="5" selected>5 miles</option>
           			<option value="10">10 miles</option>
           			<option value="15">15 miles</option>
           			<option value="20">20 miles</option>
           			<option value="25">25 miles</option>
           			<option value="50">50 miles</option>
           			<option value="100">100 miles</option>
          		</select>
        	</div>
        	<div class="searchElement">
           		<label for="startDate">Start Date</label>
           		<input type="date" id="startDate" name="startDate">
        	</div>
        	<div class="searchElement">
           		<label for="endDate">End Date</label>
           		<input type="date" id="endDate" name="endDate">
        	</div>
        	<div class="searchElement">
           		<input type="submit" value="Search Now →">
        	</div>
        </form>
		

    </div>
	<script src='../public/js/partySearch.js'></script>
	
  <!-- Add links to other pages here -->
</body>