<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    {{!-- <h1>Welcome, {{user.firstName}}! This is the homepage.</h1> --}}
    <h1>Welcome! This is the homepage.</h1>
    <a href="/account/login">Login</a>
    <p></p>
    <a href="/account/create">Create an Account</a>


  <!-- Add links to other pages here -->
</body>
</html>