<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="main-styles.css">
</head>
<body>
  <div class="container">
    <div class="left-column">
      <img src="/public/images/logo.jpg" alt="Logo" class="logo">
    </div>
    <div class="right-column">
      <h2>Let's Sign You In!</h2>
      <form id="loginForm">
        <div class="form-group">
          <label for="emailInput">Email:</label>
          <br>
          <input type="email" id="emailInput" placeholder="jon.snow@gmail.com" required>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password:</label>
          <br>
          <input type="password" id="passwordInput" placeholder="*********" required>
        </div>
        <div class="form-group">
          <a href="forgot-password.html">Forgot Password?</a>
        </div>
        <button type="submit">Login</button>
        <div class="form-group">
          <p>Don't have an account? <a href="/account/create">Sign up now</a></p>
        </div>
        <div class="form-group">
          
        </div>
      </form>
    </div>
  </div>
</body>
</html>
