<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="main-styles.css">
</head>
<body>
    {{!-- <div class="left-column">
      <img src="/public/images/logo.jpg" alt="Logo" class="logo">
    </div> --}}
      <div id="errors"></div>
      <h2>Let's Sign You In!</h2>
      <form id="loginForm" method="POST" action="/account/login">

          <label for="emailInput">Email:</label>
          <input type="text" id="emailInput" name="emailInput" placeholder="jon.snow@gmail.com" value="{{data.emailInput}}"><br>

          <label for="passwordInput">Password:</label>
          <input type="password" id="passwordInput" name="passwordInput" placeholder="*********" value="{{data.passwordInput}}"><br>

        <button type="submit">Login</button><br>

          <p>Don't have an account? <a href="/account/create">Sign up now</a></p>
          <a href="/">Homepage</a>
          
        {{#if hasErrors}}
        <div class="error-list">
        <ul>
        {{#each errors}}
          <li>
            {{this}}
          </li>
        {{/each}}
        </ul>
        </div>
        {{/if}}
      </form>
      <script type="module" src="/public/js/client-side.js"></script>
  </body>
</html>