<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <title>Post Confirmation</title>
</head>
<main>
    <p>Party posted Successfully!</p>
    <a href="/">Go back</a>
</main>
