<head>
    <title>Update User Settings</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h1>Update User Settings</h1>
    <div id="errors"></div>
<form id = "updateSettings" action="/account/settings" method="post">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="FirstName"><br>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="LastName" ><br>


          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Enter a valid Email Address"><br>

          <label for="dob">Date of Birth:</label>
          <input type="date" id="dob" name="dob" ><br>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="*********" ><br>

          <label for="confirmPassword">Confirm :</label>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="*********" ><br>

        <p>Favorite Genres:</p>
        <input type="checkbox" id="Hip-Hop" name="favoriteCategories" value="Hip-Hop">
        <label for="Hip-Hop">Hip-Hop</label><br>

        <input type="checkbox" id="R&B" name="favoriteCategories" value="R&B">
        <label for="R&B">RnB</label><br>

        <input type="checkbox" id="Latin" name="favoriteCategories" value="Latin">
        <label for="Latin">Latin</label><br>

        <input type="checkbox" id="Caribbean" name="favoriteCategories" value="Caribbean">
        <label for="Caribbean">Caribbean</label><br>

        <input type="checkbox" id="Asian" name="favoriteCategories" value="Asian">
        <label for="Asian">Asian</label><br>

        <input type="checkbox" id="Pop" name="favoriteCategories" value="Pop">
        <label for="Pop">Pop</label><br>

        <input type="checkbox" id="K-Pop" name="favoriteCategories" value="K-Pop">
        <label for="K-Pop">K-Pop</label><br>

        <input type="checkbox" id="Jazz" name="favoriteCategories" value="Jazz">
        <label for="Jazz">Jazz</label><br>

        <input type="checkbox" id="Country" name="favoriteCategories" value="Country">
        <label for="Country">Country</label><br>

        <input type="checkbox" id="Rock" name="favoriteCategories" value="Rock">
        <label for="Rock">Rock</label><br>

        <input type="checkbox" id="EDM" name="favoriteCategories" value="EDM">
        <label for="EDM">EDM</label><br>

        <input type="checkbox" id="Throwbacks" name="favoriteCategories" value="Throwbacks">
        <label for="Throwbacks">Throwbacks</label><br>

        <input type="checkbox" id="Afrobeats" name="favoriteCategories" value="Afrobeats">
        <label for="Afrobeats">Afrobeats</label><br>

        <input type="checkbox" id="Indie" name="favoriteCategories" value="Indie">
        <label for="Indie">Indie</label><br>

        <input type="checkbox" id="Alternative" name="favoriteCategories" value="Alternative">
        <label for="Alternative">Alternative</label><br>

        <input type="checkbox" id="Bollywood" name="favoriteCategories" value="Bollywood">
        <label for="Bollywood">Bollywood</label><br>

        <input type="checkbox" id="Other" name="favoriteCategories" value="Other">
        <label for="Other">Other</label><br>

        <input type="submit" value="Update Settings">
        <a href="/">Cancel</a>

        

    {{#if updated}}
        <p>User settings updated successfully!</p>
    {{/if}}
    {{#if errors}}
        <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    {{/if}}
    </form>
    <script type="module" src="/public/js/client-side.js"></script>
</body>