/*This file should have CSS rulesets */
* {
	box-sizing: border-box;
}

html,
body {
	font-size: 14pt;
}

body {
	background: #caced2;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}



.error {
	font-weight: bold;
}

form {
    padding: 10px;
  }
  
  /* Add some margin between the input fields */
  input {
    margin-bottom: 10px;
  }
  

  button[type="submit"] {
	width: 30%; /* Set the width to 100% */
	background-color: black; /* Set the background color to black */
  color: white; /* Set the text color to white */
  border-radius: 5px;
  }

  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

  }
  
  .left-column {
	flex: 1;
	flex-basis: 50%;
	padding: 1rem;
  }

  
  .left-column {
	flex: 0 0 auto;
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .logo {
	max-width: 100%;
	max-height: 100%;
  }